<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->

    <title>Lingko</title>
  </head>
  <body>
    <div id="app" class="container">
        <nav class="navbar navbar-expand-lg fixed-top" style="background-color: lightskyblue;">
            <div class="container-fluid">
                <a v-if="hasilLogin.length >0" @click="mHome1" class="navbar-brand" href="#"><h1 style="color: white ;" >LINGKO <span class="text-lowercase" v-if="hasilLogin.length >0">{{hasilLogin[0].nama}}</span></h1></a>
                <a v-else @click="mHome" class="navbar-brand" href="#"><h1 style="color: white ;" >LINGKO </h1></a>
                <button style="color: white ;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span style="color: white ; background-color: white;" class="navbar-toggler-icon"><p style="color: black;">:)</p></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li> -->
                    <li class="nav-item" v-if="tombolRekam">
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Rekam Link
                        </button>
                    </li>
                    <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Link
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                    </li> -->

                    <!-- <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Link</a>
                    </li> -->

                </ul>
                <form class="d-flex ">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <span style="color: lightskyblue;">_</span>
                <div class="d-flex text-center">
                    <button v-if="tombolLogin" @click="mTombolLogin" class="btn btn-outline-primary ml-3" >LOGIN</button>
                    <button v-if="!tombolLogin" @click="logout1" class="btn btn-outline-danger ml-3" >LOGOUT</button>
                </div>
                </div>
            </div>
        </nav>
<br><br><br><br>
         <!-- Home not login -->
            <div v-if="home1" class="container text-center">
            <span class="display-3 mt-5 h1"><b>LINGKO </b></span>
                <p class="display-6">adalah aplikasi sederhana untuk menyimpan link ku & link mu </p>
                <p class="display-5">^_^</p>
                <p class="mt-5">
                    Saat ini semakin banyak webinar ataupun pelajaran-pelajaran online yang kita ikuti setiap hari, semakin banyak pula link materi yang dibagikan oleh para Narasumber.
                </p>
                <p>
                    <b>
                    Lingko hadir untuk mempermudah menyimpan dan mengelola link-link tersebut.
                    </b>
                </p>

                <p class="text-center" style="text-decoration: none;">
                    <span @click="mTombolLogin" href="" style="text-decoration: none; color:blue">Login</span> | <span @click="mTombolRegister" href="" style="text-decoration: none; color:blue">Register</span> 
                </p>
            </div>
        <!-- Home not login -->

        <!-- Home Login -->
        <div v-if="home2">
  
            <form class="d-flex mb-2 row">
                <div class="col-md-6 offset-md-6 col-sm-12 ">
                    <input class="form-control me-2" type="search" placeholder="Cari" aria-label="Cari">
                </div>
            </form>
            <table class="table table-hover">
                <thead class="table-info">
                <tr>
                    <th scope="col" style="width: 5%;">#</th>
                    <th scope="col" style="width: 70%;">Judul</th>
                    <th scope="col" style="width: 15%;">Kategori</th>
                    <th  scope="col" style="width: 10%;">Link</th>
                </tr>
                </thead>
                <tbody>
                <tr  v-for="dat,index in data">
                    <!-- <div type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop1"> -->
                    <td scope="row">{{index+1}}</td>
                    <td @click="klikDetail(dat)" data-bs-toggle="modal" data-bs-target="#staticBackdrop1" style="color: blue;"> {{dat.judul}}</td>
                    <td>{{dat.kategori}}</td>
                    
                    <td  class="d-grid gap-2 col-12 mx-auto">
                        <a :href="dat.url" target="_blank">
                            <button type="button" class="btn btn-info btn-sm">link</button>
                        </a>
                    </td>
                        
                    <!-- </div> -->
                    
                </tr>
                <!-- <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Link</td>
                    <td class="d-grid gap-2 col-12 mx-auto"><button type="button" class="btn btn-info btn-sm">link</button></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td >Larry the Bird</td>
                    <td>Aplikasi</td>
                    <td class="d-grid gap-2 col-12 mx-auto"><button type="button" class="btn btn-info btn-sm">link</button></td>
                </tr> -->
                </tbody>
            </table>
{{detail}}
            <div v-if="hasilLogin.length >0">
                <!-- {{hasilLogin}}

                {{data}} -->
            </div>
        </div>
        <!-- Home Login -->



        <!-- register-form -->
        <div v-if="formRegister" class="container row  mx-auto mt-5">
            <div class="col-md-6 offset-md-3 col-sm-12 row">
                <div class="col-12 col-md-12">
                    <h1>Register</h1>
                </div>
                <form class="text-center">
                    <div class="mb-3">
                    <input v-model="nama" type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Nama">
                    </div>
                    <div class="mb-3">
                    <input v-on:blur="cekEmail" v-model="email" type="email" class="form-control"  aria-describedby="emailHelp" placeholder="email">
                    <div v-if="email.length > 0 && cek == true">
                        <span class="text-warning" >proses pengecekan</span> <br>
                    </div>
                    <span class="text-danger" v-if="hasilQuery.length >0">email <b> {{hasilQuery[0].email}} </b> sudah ada yang menggunakan</span>
                    </div>
                    <div class="mb-3">
                    <input  v-model="passw" type="password" class="form-control"  placeholder="password">
                    </div>
                    
                    <button v-if="hasilQuery.length == 0 && nama.length > 0 && email.length > 0 && passw.length > 0 && cek == false" @click="mRegister" v-if="tombolRegister1"  class="btn btn-primary">Daftar</button>
                </form>
            </div>
        </div>

        <!-- register-form -->

        <!-- login-form -->
        <div v-if="formLogin" class="container row  mx-auto mt-5">
            <div class="col-md-6 offset-md-3 col-sm-12 row">
                <div class="col-12 col-md-12">
                    <h1>Login</h1>
                </div>
                <form class="text-center">
                    <div class="mb-3">
                    <input v-model="email" type="email" class="form-control"  aria-describedby="emailHelp" placeholder="email">
                    </div>
                    <div class="mb-3">
                    <input v-model="passw" type="password" class="form-control"  placeholder="password">
                    </div>
                    
                    <button v-if="tombolLogin1" @click="cekLogin"  class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>

        <!-- login-form -->

<br><br><br><br><br>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Rekam Link</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-check form-check-inline">
                        <input @click="status=public;" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
                        <label class="form-check-label" for="inlineRadio1">Public</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input @click="status=private" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">Private</label>
                      </div>
                      <br>
                    <label for="exampleInputEmail1" class="form-label"><b>Kategori</b> </label>
                    <select class="form-select mb-3" aria-label="Default select example">
                        <option selected value="1">Link</option>
                        <option value="2">Aplikasi</option>
                        <option value="3">Youtube</option>
                    </select>

                    <div class="mb-3">
                        <input type="text" class="form-control"  placeholder="Judul">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control"  placeholder="Link">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Deskripsi"></textarea>
                    </div>
                    <button @click="tambahLink = !tambahLink" class="btn btn-primary btn-block">Tambah Link</button>
                    <div v-if="tambahLink">
                        <div class="mb-3 mt-3">
                            <input type="text" class="form-control"  placeholder="Judul">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control"  placeholder="Link">
                        </div>
                        <button type="button" class="btn btn-primary mt-2">Simpan Link Tambahan</button>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Simpan</button>
                </div>
            </div>
            </div>
        </div>

                <!-- Modal detail -->
                <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="false">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Detail</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <!-- detail link -->
                            <div  class="card text-center">
                                <div class="card-header" style="background-color: lightskyblue ;">
                                <b>DETAIL LINK</b> 
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{detail.judul}}</h5>
                                    <p class="card-text">{{detail.deskripsi}}</p>
                                    <a :href="detail.url" target="_blank" class="btn btn-info">Go to Link</a>
                                    {{detail.linkTambahan}} <br>
                                    
                                </div>
                                <div class="card-footer text-muted" >
                                    tes v for
                                        <p class="mt-2" v-for="fruit in detail.linkTambahan" :key="fruit" >{{fruit}}</p>
                                    
                                        <!-- <a href=""><li class="mt-2">link Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, placeat?</li></a>
                                        <a href=""><li class="mt-2">link Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, placeat?</li></a> -->
                                        
                                </div>
                            </div>
                        <!-- detail link -->
                        
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Simpan</button>
                        </div>
                    </div>
                    </div>
                </div>










    </div>
    
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            home:true,
            tambahLink:false,
            home1:true,
            home2:false,
            detailLink:false,
            formRegister:false,
            formLogin:false,
            tombolRekam:false,
            tombolLogin:true,
            tombolLogin1:true,
            status:'public',
            nama:"",
            email:"",
            passw:"",
            tombolRegister1:true,
            hasilQuery:[],
            hasilLogin:[],
            data:[],
            detail:[],
            cek:true,



        },
        methods:{
            mHome(){
                this.home1=true
                this.home2=false
                this.detailLink=false
                this.formRegister=false
                this.formLogin=false
                this.tambahLink = false
                
            },
            mHome1(){
                this.home2=true
                this.home1=false
                this.detailLink=false
                this.formRegister=false
                this.formLogin=false
                this.tambahLink = false
                
            },
            mTombolLogin(){
                this.home1=false
                this.home2=false
                this.detailLink=false
                this.formRegister=false
                this.formLogin=true
                this.tambahLink = false
                
            },
            mTombolRegister(){
                this.home1=false
                this.home2=false
                this.detailLink=false
                this.formRegister=true
                this.formLogin=false
                this.tambahLink = false
                
            },
            logout1(){
                this.data = []
                this.hasliLogin = []
                this.hasilLogin[0].nama = ""
                this.home1 = true
                this.home2 = false
                this.tombolRekam = false
                this.tombolLogin = true
                this.tombolLogin1 = true
                this.nama = ""
                this.email = ""
                this.passw = ""
            },
            klikDetail(x){
                this.detail=x
                this.detail.linkTambahan = [x.linkTambahan]
            },
            queryData(){
                // alert("Ambil Data")
                if(this.hasilLogin.length > 0){
                    var iemail = this.hasilLogin[0].email.toString();
                    
                    var url = `https://script.google.com/macros/s/AKfycby4NAohbMJioFS4slWfe2LykWlM7c0k3gBVxYdqowHZWCVL64ou2ajnTmziDbVRSXRkPA/exec?action=update&table=queryData&id=1&data={"query":"'select * where C = '${iemail}'"}`
                    // this.test = url;
                    // timestamp=${itimestamp}
                    $.ajax({
                    type: 'GET',
                    url: url,
                    crossDomain: true,
                    dataType: 'jsonp',
                    dataType: "text",
                    success: function(resultData) { 
                        // alert('Email telah ada yang menggunakan')
                        app.ambilHasilData()
                        

                    },
                    // error: function (request, error) {
                    //     this.tombolRegister1 = true
                    // },

                    });
                    // this.edit1 = false;
                }
            },
            ambilHasilData(){
                app.data =[]
                
                var url ="https://script.google.com/macros/s/AKfycby4NAohbMJioFS4slWfe2LykWlM7c0k3gBVxYdqowHZWCVL64ou2ajnTmziDbVRSXRkPA/exec?action=read&table=HasilData";
        

                $.getJSON(url, function (json) {
                // console.log(json.data);
                app.data = json.data;
                });
                 
            
            },
            cekLogin(){

                if(this.email && this.passw){
                    app.tombolLogin1 = false
                    
                // alert("cek login")
                var ikegiatan = this.email.toString();
                var ikegiatan1 = this.passw.toString();
                
                var url = `https://script.google.com/macros/s/AKfycby4NAohbMJioFS4slWfe2LykWlM7c0k3gBVxYdqowHZWCVL64ou2ajnTmziDbVRSXRkPA/exec?action=update&table=queryLogin&id=1&data={"query":"'select * where C = '${ikegiatan}' and D = '${ikegiatan1}' "}`
                // this.test = url;
                // timestamp=${itimestamp}
                $.ajax({
                type: 'GET',
                url: url,
                crossDomain: true,
                dataType: 'jsonp',
                dataType: "text",
                success: function(resultData) { 
                    // alert('Email telah ada yang menggunakan')
                    
                    app.mAmbilHasilLogin()
                    

                    

                },
                // error: function (request, error) {
                //     this.tombolRegister1 = true
                // },

                });
                // this.edit1 = false;
            }                
            
            },

            mAmbilHasilLogin(){
                app.hasilLogin =[]
                
                var url ="https://script.google.com/macros/s/AKfycby4NAohbMJioFS4slWfe2LykWlM7c0k3gBVxYdqowHZWCVL64ou2ajnTmziDbVRSXRkPA/exec?action=read&table=HasilLogin";
        

                $.getJSON(url, function (json) {
                // console.log(json.data);
                if(json.data.length > 0){
                    app.formLogin = false
                    app.hasilLogin = json.data;
                    app.home2 = true
                    app.tombolRekam = true
                    app.tombolLogin = false
                    app.queryData()
                }else{
                    alert("user / password salah")
                    app.tombolLogin1 = true

                }
                });

            
                

            },

            cekEmail(){
                this.cek = true
                var ikegiatan = this.email.toString();
                
                var url = `https://script.google.com/macros/s/AKfycby4NAohbMJioFS4slWfe2LykWlM7c0k3gBVxYdqowHZWCVL64ou2ajnTmziDbVRSXRkPA/exec?action=update&table=queryCekUser&id=1&data={"query":"'select * where C = '${ikegiatan}'"}`
                // this.test = url;
                // timestamp=${itimestamp}
                $.ajax({
                type: 'GET',
                url: url,
                crossDomain: true,
                dataType: 'jsonp',
                dataType: "text",
                success: function(resultData) { 
                    // alert('Email telah ada yang menggunakan')
                    app.mAmbilHasilCek()

                },
                // error: function (request, error) {
                //     this.tombolRegister1 = true
                // },

                });
                // this.edit1 = false;
            
            },
            mAmbilHasilCek(){
                app.hasilQuery =[]
                
                var url ="https://script.google.com/macros/s/AKfycby4NAohbMJioFS4slWfe2LykWlM7c0k3gBVxYdqowHZWCVL64ou2ajnTmziDbVRSXRkPA/exec?action=read&table=HasilQuery";
        

                $.getJSON(url, function (json) {
                // console.log(json.data);
                app.hasilQuery = json.data;
                });
                setTimeout(() => this.cek = false, 5000);
                
            },
            mRegister(){
                if(this.nama && this.email && this.passw)
                        {
                            this.tombolRegister1 = false;
                            var waktu1 = Date.now();
                            var inama = this.nama.toString();
                            var iemail = this.email.toString();
                            var ipassw = this.passw.toString();
                            
                            var lin = `https://script.google.com/macros/s/AKfycby4NAohbMJioFS4slWfe2LykWlM7c0k3gBVxYdqowHZWCVL64ou2ajnTmziDbVRSXRkPA/exec?action=insert&table=users&data={"id":${waktu1}, "nama":"'${inama}","email":"'${iemail}","passw":"'${ipassw}","timestamp":${waktu1}}`;
                            // this.test = lin;
                            this.urll = lin;
                            $.ajax({
                            type: 'GET',
                            url: lin,
                            crossDomain: true,
                            dataType: 'jsonp',
                            dataType: "text",
                            success: function(resultData) { 
                            //   alert("Save Complete");
                            app.cekLogin()

                            // app.nama = ''
                            // app.email = ''
                            // app.passw = ''
                            app.formRegister = false
                            app.home1 = false
                            app.home2 = true

                            

                            
                            },
                            });
                    
                            alert('Register Berhasil')

                        }
                else{
                    alert('Masih terdapat data yang belum di input')
                }
        
            }
        },







        })

    </script>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>